.Rproj.user
.Rhistory
.RData
packrat/lib*/
tmx_lgm.tif
wc5/
alt_5m_bil/
prc_lgm.tif
tmn_lgm.tif
MedinesR.Rproj
GCM/
cal_data.csv
Wind Maps/*
mh6k_vars
lgm_vars
val_vars.rdata
trace*
packrat/src/
Downscaled
climate-analysis_cache/*
